	<img alt="full screen background image" img src="/lib/img/background.jpg" id="full-screen-background-image" /> 
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="logo"><img src="/lib/img/Twinderella.png" /></div>
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				<div id="subhead"><img src="/lib/img/bellball.png" /></div>	
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				<div id="facebook"> <a href='/auth/facebook'><img src="/lib/img/facebook.png" /></a></div>
			</div>
		</div>
	
		<div class="row">
			<div class="span12">
				<div id="shell">
			      <img src="/lib/img/cinderella.png" data-xrange="0" data-yrange="0" id="cinderella"/>
				  <img src="/lib/img/birdie.png" data-xrange="40" data-yrange="40" id="birdie">
			    </div>
			    <script type="text/javascript">
			      $(document).ready(function () {
			        $('#shell img').plaxify();
			        $.plax.enable();
			      })
			    </script>
			</div>
		</div>	
		
		<footer>
			<div class="row">
				<div class="span12">
					<ul>
						<li id="artsicle">Brought to you by the
							<a href="http://www.artsicle.com"><img src="/lib/img/artsicle.png" /></a>
						</li>
						<li id="face">team using the lovely APIs of 
							<a href="http://www.face.com"><img src="/lib/img/face.png"></a>
						</li>
						<li id="twitter">, 
							<a href="http://www.twitter.com"><img src="/lib/img/twitter.png"></a>
						</li>
						<li id="posterous">&amp 
							<a href="http://www.posterous.com"><img src="/lib/img/posterous.png"></a>
						</li>       
		 			</ul>
				</div>
			</div>
		</footer>
	</div>
