<!DOCTYPE html>
<html>
  <head>
	<title>Twinderella.me</title>
    <script src="/lib/js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="/lib/js/bootstrap.js"></script>
    <script type="text/javascript" src="/lib/js/plax.js"></script>
	    <link rel="stylesheet" href="/lib/css/bootstrap.css">
			<link rel="stylesheet" href="/lib/css/animate-custom.css">
	    <link rel="stylesheet" href="/lib/css/twinderella.css">
			<link rel="shortcut icon" href="/lib/img/favicon_16x16.ico" />
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
  	<%= yield %>
  </body>
</html>