
 <h1>Now you're the belle of the ball!</h1>
	<h2>Click your picture below to visit your new Posterous, <br /> featuring all of the photos taken of you on Twitter.</h2>
 	<ul class="thumb">
    <li>
        <img src="/lib/img/mermaid.jpg" width="400" height="300" />
    </li>
    <li>
        <img src="/lib/img/jasmine.jpg" width="400" height="300" />
    </li>
    <li>
        <img src="/lib/img/snow_white.jpg" width="400" height="300" />
    </li>
    <li>
        <a href="http://www.artsicle.com"><img src="<%= @facebook_pic %>" width="400" height="300" /></a>
    </li>
    <li>
        <img src="/lib/img/belle.jpg" width="400" height="300" />
    </li>
	</ul>



